<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramakhutla.ethon.chapter61">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.implses.AddressServiceImpl"
            android:exported="false" />
        <service
            android:name=".service.implses.CustomerServiceImpl"
            android:exported="false" />
        <service
            android:name=".service.implses.EngineServiceImpl"
            android:exported="false" />
        <service
            android:name=".service.implses.LoginServiceImpl"
            android:exported="false" />
        <service
            android:name=".service.implses.PaymentServiceImpl"
            android:exported="false" />
        <service
            android:name=".service.implses.RentalServiceImpl"
            android:exported="false" />
        <service
            android:name=".service.implses.SalesPersonServiceImpl"
            android:exported="false" />
        <service
            android:name=".service.implses.VehicleServiceImpl"
            android:exported="false" />
        <service
            android:name=".services.impl.AddressServiceImpl"
            android:exported="false" />
        <service
            android:name=".services.impl.CustomerServiceImpl"
            android:exported="false" />
        <service
            android:name=".services.impl.EngineServiceImpl"
            android:exported="false" />
        <service
            android:name=".services.impl.PaymentServiceImpl"
            android:exported="false" />
        <service
            android:name=".services.impl.RentalServiceImpl"
            android:exported="false" />
        <service
            android:name=".services.impl.SalesPersonServiceImpl"
            android:exported="false" />
        <service
            android:name=".services.impl.VehicleServiceImpl"
            android:exported="false" />
        <service
            android:name=".services.impl.LoginServiceImpl"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />

        <service
            android:name=".services.impl.EnginServiceImpl"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>